.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    margin: 100px 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:45px
    
}
@media only screen and (max-width: 600px) { 
    .product-container{
        grid-template-columns: repeat(2, 1fr);
    }
    
}
.cart-contaoiner{
    background-color:rgba(255, 153, 0, 0.3);
    margin-left: 20px;
   
}